
body {

    width: 100vw; height: 70vh;
    background-color: #141414;
    margin: 0px;
    overflow: hidden;


}

.hero {

    display: block;
    width: 100vw; height: 100vh;
    background-image: url(img/web/NBweb-02.png);
    background-size: cover;
    margin: 0; padding: 0;

}



.mobileview {

    display: none;
    width: 100vw; height: 100vh;
    background-image: url(img/web/NBweb-01.png);
    background-size: cover;
}




@media only screen and (min-width: 768px) {

    
    .hero {

        display: none;
        width: 100vw; height: 100vh;
        background-image: url(img/web/NBweb-02.png);
        background-size: cover;
        margin: 0; padding: 0;
    }
    
    
    
    
    
    .mobileview {
        display: block;
    width: 100vw; height: 100vh;
    background-image: url(img/web/NBweb-01.png);
    background-size: cover;
    }

}


