
@font-face {
    font-family: LouisGeorge;
    src: url(fonts/LouisGeorgeCafeLight.ttf);
}


body {

    width: 100vw; height: 70vh;
    background-color: #141414;
    margin: 0px;
    overflow:visible;


}

.hero {

    display: block;
    width: 100vw; height: 100vh;
    background-image: url(img/web/MOBILECOMP_FINAL.mp4);
    background-size: cover;
    margin: 0; padding: 0;
    overflow: visible;

}



.mobileview {

    display: none;
    width: 100vw; height: 100vh;
    background-image: url(img/web/WEBCOMP_FINAL.mp4);
    background-size: cover;
    
}


.sociallinks {

    width: 100vw; height: 20vh;
    color: white;
    font-family: LouisGeorge;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.icons {

    padding-left: 10px;
}

#ig {

    width: 30px; height: 30px;
    
}

.sociallinks2 {

    color: white;
    font-family: LouisGeorge;
    font-size: 35px;
    display: flex;

}


@media only screen and (min-width: 768px) {

    
    .hero {

        display: none;
        width: 100vw; height: 100vh;
        background-image: url(img/web/MOBILECOMP_FINAL.mp4);
        background-size: cover;
        margin: 0; padding: 0;

    }
    
    
    
    
    
    .mobileview {
        display: block;
    width: 100vw; height: 100vh;
    background-image: url(img/web/WEBCOMP_FINAL.mp4);
    background-size: cover;
    overflow: visible;
    }

   
  


}

